@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'Gong-L';
  src: url('/fonts/Gong Gothic Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gong-M';
  src: url('/fonts/Gong Gothic Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 1px solid silver;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  color: black;
  overflow-x: hidden;
}

p,
li {
  transition: 0.5s;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  color: black;
}

table {
  border-collapse: collapse;
  border: 1px;
}

textarea {
  resize: none;
}

input {
  border: 0px;
  background-color: transparent;
}

img {
  display: block;
  margin: auto 0;
}

button {
  border: 0px solid;
  background: transparent;
  transition: 0.3s;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.display-flex-flow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pc,
.pc-flex {
  display: none;
}

.white-bg {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.loading {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}

article>div {
  padding: 80px 5%;
}

article>div>:first-child {
  margin-bottom: 50px;
  text-align: center;
}

article>div>:first-child>p {
  margin-top: 10px;
}

/* pagination */

.pagination {
  margin-top: 50px;
}

.pagination>button {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #eee;
  color: #555;
  cursor: pointer;
}

.pagination>div>button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  cursor: pointer;
}

.pagination>button:hover {
  background-color: #aaa;
}

.pagination>div>button.select {
  background-color: #222;
  color: white;
}

/* header */

header {
  background-color: white;
  position: relative;
}

header>div {
  padding: 15px 5%;
}

header>div>:last-child {
  cursor: pointer;
  margin: auto 0;
}

/* nav */

nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 40;
}

/* main */
main {
width: 100%;
 display: block;
 position: relative;
}

/* footer */

footer {
  background-color: #222;
  position: relative;
}

footer>div {
  width: 100%;
  padding: 80px 5%;
}

footer>div>:first-child {
  position: fixed;
  right: 5%;
  bottom: 80px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1366px) {
  .pc-flex {
    display: flex;
    pointer-events: auto;
  }

  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

  li,
  p {
    font-size: 1.2rem;
  }

  article>div {
    padding: 150px 0px;
    width: 1200px;
    margin: 0 auto;
  }

  .loading {
    padding: 150px 0;
  }

  /* pagination */

  /* header */

  /* nav */

  /* footer */
}