@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'Gong-L';
  src: url('/fonts/Gong Gothic Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gong-M';
  src: url('/fonts/Gong Gothic Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 0px solid silver;
  font-family: 'Noto Sans KR', sans-serif;
}