@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

@font-face {
  font-family: 'Gong-L';
  src: url('/fonts/Gong Gothic Light.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gong-M';
  src: url('/fonts/Gong Gothic Medium.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  outline: 0px solid silver;
  font-family: 'Noto Sans KR', sans-serif;
}

body {
  color: black;
  overflow-x: hidden;
}

p,
li {
  transition: 0.5s;
  font-size: 0.9rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  color: black;
}

textarea {
  resize: none;
}

input {
  border: 0px;
  background-color: transparent;
}

img {
  display: block;
  margin: auto 0;
}

button {
  border: 0px solid;
  background: transparent;
  transition: 0.3s;
}

.display-flex {
  display: flex;
  justify-content: space-between;
}

.display-flex-flow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pc,
.pc-flex {
  display: none;
}

.white-bg {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100vh;
}

.loading {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  font-size: 0.9rem;
}

.page-title {
  position: relative;
}

.page-title::before {
  content: '';
  width: 32px;
  height: 3px;
  background-color: #222;
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%, 0);
}

.stroke-text {
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
}

.stroke-text>h3 {
  display: inline-block;
  position: relative;
}

.stroke-text>h3::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: #034694;
  position: absolute;
  bottom: -10px;
  left: 0;
}

/* header */

header {
  background-color: white;
  position: relative;
}

header>div {
  padding: 15px 5%;
}

header>div>:first-child img {
  width: 70px;
  height: auto;
}

header>div>:last-child {
  cursor: pointer;
  margin: auto 0;
}

header>div>:last-child img {
  width: 30px;
  height: auto;
  margin: auto 0;
}

/* nav */

nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  background-color: white;
  transition: 0.3s;
  z-index: 40;
  padding: 15px 5%;
}

nav.open-menu {
  right: 0;
}

nav>div {
  display: flex;
  justify-content: right;
  cursor: pointer;
  margin-bottom: 50px;
}

nav>div>img {
  width: 20px;
  height: auto;
}

nav>ul>li>div {
  padding: 15px 0;
  cursor: pointer;
  border-bottom: 2px solid #ccc;
}

nav>ul>li>div.open-sub {
  border-bottom: 2px solid #034694;
}

nav>ul>li>div>img {
  width: 15px;
  height: auto;
}

nav>ul>li>ul {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition:
    max-height 1.5s ease,
    opacity 0.8s ease,
    transform 0.8s ease;
}

nav>ul>li>ul.open-sub {
  padding: 15px 0;
  max-height: 240px;
  opacity: 1;
  transform: translateY(0);
}

nav>ul>li>ul>li {
  position: relative;
  margin: 15px 0;
  color: #555;
  padding-left: 20px;
}

nav>ul>li>ul>li::before {
  content: '';
  width: 3px;
  height: 3px;
  background-color: #555;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translate(-50%, 0);
}

nav>ul>li>ul>li.select a {
  color: #034694;
  font-weight: bold;
}

nav>ul>li>ul>li.select::before {
  background-color: #034694;
  width: 5px;
  height: 5px;
}

nav>ul>li>ul>li a:hover {
  color: #034694;
  font-weight: bold;
}

.sub {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-6px);
  transition:
    max-height 0.8s ease,
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* tab-menu */

.tab-menu {
  margin-top: 50px;
}

.tab-menu>ul {
  justify-content: left;
  gap: 10px;
}

.tab-menu>ul>li {
  width: 48%;
  height: 2.5rem;
  padding: 0px 10px;
  border-radius: 50px;
  border: 1px solid #aaa;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-break: keep-all;
  overflow: hidden;
  cursor: pointer;
}

.tab-menu>ul>li.focus {
  background-color: #034694;
  border: 1px solid #034694;
  font-weight: bold;
  color: white;
}

/* main */

main {
  width: 100%;
  display: block;
  position: relative;
}

/* article */

article>div {
  padding: 100px 5% 80px;
}

article>div>:first-child {
  margin-bottom: 50px;
  text-align: center;
}

article>div>:first-child>p {
  margin-top: 10px;
}

article>div>:first-child>p span {
  font-weight: bold;
}

/* form */

form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

form>div>label h3 {
  position: relative;
  font-size: 1rem;
}

form>div>label h3.required::after {
  content: '*';
  color: #00A8E9;
  margin-left: 5px;
}

form>div>label>p {
  margin-top: 5px;
}

form>div {
  margin: 30px 0;
}

form>div>input,
form>div>textarea,
form>div>select {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #aaa;
}

form>div>input[type=file] {
  margin-bottom: 30px;
}

form img {
  border: 1px solid #eee;
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.fm-detail-add {
  margin-top: 40px;
}

.fm-detail-add h5 {
  font-size: 1rem;
}

.fm-images button {
  cursor: pointer;
  background-color: #eee;
  color: #555;
  border-radius: 3px;
  padding: 3px 8px;
}

.fm-detail-add>div {
  justify-content: left;
  gap: 3px;
  margin-top: 10px;
  padding: 20px 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
}

.fm-images>div {
  justify-content: left;
  gap: 3px;
}

form>button {
  margin-top: 40px;
  width: 100%;
  padding: 15px;
  background-color: #034694;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

form>div>button {
  width: 48%;
  padding: 10px;
  cursor: pointer;
}

form>div>button:first-of-type {
  background-color: #034694;
  color: white;
}

form>div>button:last-of-type {
  background-color: #eee;
  color: #555;
}

/* table */

.table-wrapper {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table-wrapper::-webkit-scrollbar {
  padding-top: 20px;
  height: 8px;
  background-color: #eee;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: #034694;
  border-radius: 10px;
}

.table-wrapper table {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

thead {
  background-color: rgba(3, 71, 148, 0.5);
  color: white;
}

th,
td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 5px;
  font-size: 0.8rem;
}

tfoot {
  background-color: #eee;
}

/* pagination */

.pagination {
  margin-top: 50px;
}

.pagination button {
  cursor: pointer;
}

.pagination>div>button {
  width: 22px;
  height: 22px;
  border: 1px solid #ccc;
  color: #555;
  margin: 0 5px;
}

.pagination>button>img {
  width: 10px;
  height: auto;
}

.pagination>div>button.select {
  background-color: #034694;
  border: 1px solid #034694;
  color: white;
}

/* footer */

footer {
  background-color: #222;
  position: relative;
  color: #aaa;
}

footer>div {
  width: 100%;
  padding: 80px 5%;
}

footer>div>:first-child {
  position: fixed;
  right: 5%;
  bottom: 80px;
  cursor: pointer;
}

footer>div>ul {
  justify-content: left !important;
  gap: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 30px;
}

footer>div>ul li {
  position: relative;
  padding-left: 10px;
}

footer>div>ul li::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background-color: #aaa;
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
}

footer>div>ul li a {
  color: #aaa;
}

footer>div>:last-child>:last-child ul {
  margin-top: 20px;
}

footer>div>:last-child>:last-child ul li {
  margin: 10px 0;
}

footer>div>:last-child>:last-child ul li span {
  font-weight: bold;
}

footer>div>:last-child>:last-child>p {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {

  p,
  li {
    font-size: 1rem;
  }

  .page-title {
    font-size: 1.7rem;
  }

  .stroke-text {
    padding-bottom: 8px;
  }

  .stroke-text>h3 {
    font-size: 1.5rem;
  }

  /* header */

  header>div {
    padding: 25px 5%;
  }

  header>div>:first-child img {
    width: 90px;
  }

  header>div>:last-child img {
    width: 35px;
  }

  /* nav */

  nav {
    padding: 25px 5%;
  }

  nav>ul>li>div {
    padding: 20px 0;
  }

  /* tab-menu */

  .tab-menu {
    margin-top: 50px;
  }

  .tab-menu>ul>li {
    height: 2.8rem;
  }

  /* form */

  form>div>label h3 {
    font-size: 1.2rem;
  }

  form>div>input,
  form>div>textarea,
  form>div>select {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

  form>div>button {
    margin-top: 40px;
    padding: 20px;
    font-size: 1rem;
  }

  form>button {
    padding: 20px;
    font-size: 1rem;
  }

  /* table */

  th,
  td {
    padding: 10px;
    font-size: 1rem;
  }

  /* pagination */

  .pagination {
    margin-top: 70px;
  }

  .pagination>div>button {
    width: 35px;
    height: 35px;
    font-size: 1rem;
  }

  /* footer */

  footer>div>ul {
    gap: 30px;
  }

  footer>div>:last-child>:last-child ul {
    margin-top: 40px;
  }

}

@media screen and (min-width: 1366px) {
  .pc-flex {
    display: flex;
    pointer-events: auto;
  }

  .pc {
    display: block;
  }

  .mo {
    display: none;
  }

  li,
  p {
    font-size: 1.1rem;
  }

  th,
  td {
    font-size: 0.9rem;
  }

  .page-title {
    font-size: 1.9rem;
  }

  header>div {
    padding: 25px 0;
    width: 1200px;
    margin: 0 auto;
  }

  header>div>:first-child img {
    width: 100px;
  }

  /* nav */

  nav {
    position: unset;
    width: 600px;
    height: auto;
    background-color: transparent;
    padding: 0;
    margin: auto 0;
  }

  nav>div {
    display: flex;
    justify-content: right;
    cursor: pointer;
    margin-bottom: 50px;
  }

  nav>ul {
    display: flex;
    justify-content: space-between;
  }

  nav>ul>li {
    position: relative;
  }

  nav>ul>li>div {
    padding: 0;
    border-bottom: 0px;
  }

  nav>ul>li>div.open-sub {
    border-bottom: 0px;
    color: #034694;
  }

  nav>ul>li>ul {
    position: absolute;
    top: 70px;
    left: 0;
    height: auto;
    background-color: white;
    width: 250px;
  }

  nav>ul>li>ul.open-sub {
    max-height: auto;
  }

  nav>ul>li>ul>li {
    margin: 15px 0;
    padding-left: 30px;
  }

  nav>ul>li>ul>li::before {
    left: 15px;
  }

  nav>ul>li>ul>li.select a:hover {
    color: #034694;
    font-weight: bold;
  }

  /* tab-menu*/

  .tab-menu {
    margin-top: 70px;
  }

  .tab-menu>ul {
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
  }

  .tab-menu>ul>li {
    width: auto;
    height: auto;
    padding: 15px 45px;
  }

  /* article */

  article>div {
    padding: 150px 0px;
    width: 1200px;
    margin: 0 auto;
  }

  article>div>:first-child {
    margin-bottom: 70px;
  }

  article>div>:first-child>p {
    margin-top: 15px;
  }

  .loading {
    padding: 150px 0;
  }

  /* form */

.fm-detail-add h5 {
  font-size: 1.1rem;
}

.fm-images button {
  cursor: pointer;
  background-color: #eee;
  color: #555;
  border-radius: 3px;
  padding: 3px 8px;
}

.fm-detail-add>div {
  gap: 8px;
  margin-top: 15px;
  padding: 30px
}

.fm-images>div {
  gap: 8px;
}

  /* pagination */

  .pagination>button>img {
    width: 15px;
  }

  .pagination>div>button {
    width: 50px;
    height: 50px;
    font-size: 1rem;
  }

  /* footer*/

  footer>div {
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0 50px;
  }

  footer>div>ul {
    gap: 70px;
    margin-bottom: 50px;
  }

  footer>div>:last-child {
    display: flex;
    gap: 50px;
    margin: auto 0;
  }

  footer>div>:last-child>:last-child ul {
    margin: 0;
    display: flex;
    gap: 20px;
  }

  footer>div>:last-child>:last-child ul li {
    margin: 0;
    font-size: 0.9rem;
    position: relative;
  }

  footer>div>:last-child>:last-child ul li:not(footer>div>:last-child>:last-child ul li:last-of-type)::after {
    content: '';
    width: 1px;
    height: 10px;
    background-color: #aaa;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translate(0%, -50%);
  }

  footer>div>:last-child>:last-child>p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}