/* main */
main.home-main {
    height: 600px;
}

.main-slider {
    height: 600px;
}

.main-slider-item > img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

main>:nth-child(2) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 95%;
    color: white;
    text-align: center;
}

main>:nth-child(2) h2 {
    font-family: 'Gong-M';
    font-weight: 300;
    margin-bottom: 10px;
}

main>:nth-child(3) {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%,0%);
}

main>:nth-child(3) p {
    font-family: 'Gong-M';
}

main>:nth-child(3)>div{
    margin-top: 10px;
}

main>:last-child {
    position:absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
}

main>:last-child>img {
    width: 100%;
    height: auto;
}

.home>div>:first-child {
    text-align: left;
}

.home>div>:first-child>h2 {
    font-family: 'Gong-L';
}

.home>div>:last-child section {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.home>div>:last-child section img {
    width: 100%;
    height: auto;
}

.home>div>:last-child section>a>:last-child {
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%,0);
    color: white;
}

.home>div>:last-child section>a>:last-child h3 {
    font-family: 'Gong-L';
}

.home2 {
    background-image: url('/images/home2_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home2>div>:first-child {
    text-align: left;
    color: white
}

.home2>div>:first-child h2 {
    font-family: 'Gong-L';
}

.home2>div>:last-child section {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid #00A8E9;
    height: 180px;
    margin: 10px 0;
}

.home2>div>:last-child section> p {
    font-family: 'Gong-L';
    color: #aaa;
    margin: 8px 0 20px;
}

.home2>div>:last-child section>button {
    padding: 5px 10px;
    border: 1px solid #aaa;
}

.home2>div>:last-child section>:last-child {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.home2>div>:last-child section>:last-child img {
    width: 158px;
    height: auto;
}


@media screen and (min-width: 768px) { }

@media screen and (min-width: 1366px) { }