/* main */
main.home-main {
    height: 600px;
}

.main-slider {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

.main-slider-item>img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

main.home-main>:nth-child(2) {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    color: white;
    text-align: center;
}

main.home-main>:nth-child(2) h2 {
    font-family: 'Gong-M';
    font-weight: 300;
    margin-bottom: 10px;
}

@keyframes bounce {

    0%,
    100% {
        bottom: 18%;
    }

    50% {
        bottom: 20%;
    }
}

main.home-main>:nth-child(3) {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 18%;
    left: 50%;
    transform: translate(-50%, 0%);
    animation: bounce 1.5s infinite ease-in-out;
}

main.home-main>:nth-child(3) p {
    font-family: 'Gong-M';
}

main.home-main>:nth-child(3)>div {
    margin-top: 10px;
}

main.home-main>:nth-child(3)>div img {
    width: 40px;
    height: auto;
    margin: 0 auto;
}

main.home-main>:last-child {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
}

main.home-main>:last-child>img {
    width: 100%;
    height: 150px;
}

main.category-main>div>div>img {
    width: 100%;
    height: auto;
}

main.category-main>div>h2 {
    width: 90%;
    font-size: 2rem;
    color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* home */

.home>div>:first-child {
    text-align: left;
}

.home>div>:first-child>h2 {
    font-family: 'Gong-L';
    width: 70%;
}

.home>div>:first-child>h2 span {
    position: relative;
}

.home>div>:first-child>h2 span::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 1px;
    background-color: black;
    left: 15px;
    bottom: 0;
}

.home>div>:last-child section {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.home>div>:last-child section>:first-child {
    overflow: hidden;
}

.home>div>:last-child section img {
    width: 100%;
    height: auto;
    transition: 0.3s;
}

.home>div>:last-child section>:first-child:hover img {
    scale: 1.1;
}

.home>div>:last-child section>a>:last-child {
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, 0);
    color: white;
}

.home>div>:last-child section>a>:last-child h3 {
    font-family: 'Gong-L';
    margin-top: 5px;
}

.home2 {
    background-image: url('/images/home2_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home2>div>:first-child {
    text-align: left;
    color: white
}

.home2>div>:first-child h2 {
    font-family: 'Gong-L';
    width: 70%;
}

.home2>div>:first-child>h2 span {
    position: relative;
}

.home2>div>:first-child>h2 span::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 1px;
    background-color: white;
    left: 15px;
    bottom: 0;
}

.home2>div>:last-child section {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: white;
    border: 2px solid #00A8E9;
    height: 180px;
    margin: 10px 0;
    transition: 0.1s;
}

.home2>div>:last-child section:hover {
    outline: 2px solid #00A8E9;
}

.home2>div>:last-child section>p {
    font-family: 'Gong-L';
    color: #aaa;
    margin: 8px 0 20px;
}

.home2>div>:last-child section>button {
    padding: 5px 10px;
    border: 1px solid #aaa;
}

.home2>div>:last-child section>button:hover {
    background-color: #00A8E9;
}

.home2>div>:last-child section>button:hover a {
    color: white;
}

.home2>div>:last-child section>:last-child {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.home2>div>:last-child section>:last-child img {
    width: 158px;
    height: auto;
}

.contact {
    background-image: url('/images/contact_bg.jpg');
    background-position: center right -100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact>div>:first-child {
    text-align: left;
    color: white;
}

.contact>div>:first-child h2 {
    font-family: 'Gong-L';
}

.contact>div>:first-child p span {
    font-weight: bold;
}

.contact>div>:last-child {
    text-align: right;
}

.contact>div>:last-child button {
    padding: 5px 13px;
    border: 1px solid white;
}

.contact>div>:last-child button a {
    color: white;
}

/* company */

.about>div>:nth-child(3) {
    margin: 30px 0 40px;
}

.about>div>:nth-child(3) h4 {
    color: #034694;
}

.about>div>:nth-child(3)>div {
    justify-content: left;
    gap: 20px;
    margin-top: 15px;
}

.about>div>ul {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.about>div>ul li {
    padding: 20px 0;
    display: flex;
}

.about>div>ul li:nth-of-type(2) {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.about>div>ul li p:first-of-type {
    font-weight: bold;
    width: 30%;
}

.about2>div>div>p {
    text-align: center;
    margin: 20px 0;
}

.about2>div>:last-child img {
    margin: 50px auto 0;
}

/* product-list */

.product-list>section {
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.product-list>section>a img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.product-list>section h4 {
    margin-top: 10px;
    padding-top: 8px;
    border-top: 1px solid #aaa;
    transform: 0.1s;
}

.product-list>section:hover h4 {
    border-top: 2px solid #00A8E9;
}

.product-list>section p {
    color: #aaa;
}

/* product-detail */

.product-detail>div>:nth-child(2)>div img {
    margin-top: 30px;
    width: 100%;
    height: 256px;
    object-fit: contain;
}

.product-detail>div>:nth-child(2) {
    margin-bottom: 30px;
}

.product-detail>div>:nth-child(3) {
    margin-bottom: 80px;
}

.product-detail>div>:nth-child(3)>div {
    margin-top: 30px;
}

.product-detail>div>:nth-child(3)>div>div {
    margin: 20px 0;
}

.product-detail>div>:nth-child(3)>div>div>img {
    width: 100%;
    height: 256px;
    object-fit: cover;
}

/* commmon-list */

.common-list>ul {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.common-list>ul>li {
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    font-size: 0.8rem;
}

.common-list>ul>li:first-of-type {
    width: 18%;
    padding: 10px 5px;
}

.common-list>a>ul li {
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.common-list>a>ul li:first-of-type {
    padding: 10px 5px;
    width: 18%;
}

.common-list>ul>li:nth-of-type(2),
.common-list>a>ul li:nth-of-type(2) {
    width: 50%;
    position: relative;
}

.common-list>ul>li:nth-of-type(2)::before,
.common-list>a>ul li:nth-of-type(2)::before {
    content: '';
    width: 2px;
    height: 15px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.common-list>ul>li:nth-of-type(2)::after,
.common-list>a>ul li:nth-of-type(2)::after {
    content: '';
    width: 2px;
    height: 15px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

.common-list>ul>li:last-of-type,
.common-list>a>ul li:last-of-type {
    width: 50%;
}

/* cylinder-detail */

.cylinder-detail>div>:nth-child(2)>div {
    width: 100%;
}

.cylinder-detail>div>:nth-child(2)>div>img {
    width: 100%;
    height: 400px;
    object-fit: contain;
}

.cylinder-detail>div>:nth-child(2)>:last-child {
    margin-top: 30px;
}

.cylinder-detail>div>:nth-child(2)>:last-child>ul {
    padding: 30px 0 40px;
    border-bottom: 2px solid #034694;
}

.cylinder-detail>div>:nth-child(2)>:last-child>ul li {
    display: flex;
    margin: 10px 0;
}

.cylinder-detail>div>:nth-child(2)>:last-child>ul li p:first-of-type {
    font-weight: bold;
    width: 20%;
}

.cylinder-detail>div>:nth-child(2)>:last-child>ul li p:last-of-type {
    color: #555;
}

.cylinder-detail>div>:nth-child(2)>:last-child>ul li p a {
    color: #555;
    text-decoration: underline;
}

.cylinder-detail>div>:nth-child(2)>div>button {
    margin-top: 45px;
    width: 100%;
    padding: 15px;
    background-color: #034694;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.cylinder-detail>div>:nth-child(2)>div>button a {
    color: white;
}

.cylinder-detail>div>:nth-child(3) {
    margin-top: 80px;
}

.product-nav {
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

.product-nav>li {
    padding: 20px 0;
    cursor: pointer;
    color: #555;
}

.product-nav>li span {
    font-weight: bold;
    color: #034694;
    margin-right: 10px;
}

/* performance-detail */

.performance-detail>div>:first-child>p span {
    font-weight: bold;
}

.performance-detail>div>div>img {
    width: 100%;
    height: 259px;
    object-fit: cover;
}

.admin-btn {
    margin-top: 50px;
}

.admin-btn button {
    width: 48%;
    padding: 10px;
    background-color: #034694;
    color: white;
    cursor: pointer;
}

.admin-btn button:last-of-type {
    background-color: #eee;
    color: #555;
}

/* board */

.board>div>:nth-child(3) {
    text-align: right;
}

.board>div>:nth-child(3)>button {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #034694;
}

.board>div>:nth-child(3)>button a {
    color: white;
}

/* technology */

.tech-cylinder>div>div:not(.tech-cylinder>div>:first-child) {
    margin-bottom: 80px;
}

.tech-cylinder>div>div>section h3,
.tech-unit>div>section>h3 {
    color: #034694;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.tech-cylinder>div>div>section h3::before,
.tech-unit>div>section>h3::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #034694;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.tech-cylinder>div>div>ul {
    margin-top: 40px;
}

.tech-cylinder>div>div>ul li {
    position: relative;
    padding-left: 15px;
    margin: 10px 0;
}

.tech-cylinder>div>div>ul li::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.tech-cylinder>div>div>ul li span {
    font-weight: bold;
}

.tech-cylinder>div img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
}

.tech-cylinder .process>div {
    margin-top: 40px;
    justify-content: center;
    gap: 12px;
}

.tech-cylinder .process>div>section {
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 30px 5px;
    text-align: center;
    width: 46%;
}

.tech-cylinder .process>div>section h3 {
    color: #034694;
    margin: -5px 0 3px
}

.tech-cylinder .cy-calculator>div {
    margin-top: 40px;
}

.tech-cylinder .cy-calculator>div>section>div {
    margin: 20px 0;
}

.tech-cylinder .cy-calculator>div>section>div>button {
    padding: 5px 8px;
    background-color: #034694;
    color: white;
    margin: 0 0 auto;
}

.tech-cylinder .cy-calculator>div>section>div:last-of-type>button {
    background-color: #9DCDDF;
}

.tech-cylinder .cy-calculator>div>section>div>:last-child {
    width: 80%;
}

.tech-cylinder .cy-calculator>div>section>div>div img {
    margin: 20px 0;
    width: 85%;
    height: auto;
}

.tech-cylinder .type-table h5 {
    font-size: 0.9rem;
    line-height: 0.9rem;
    font-weight: 300;
    color: black;
}

.tech-cylinder .type-table>section>p {
    margin: 30px 0 8px;
    font-size: 0.8rem;
    text-align: right;
    color: #555;
    white-space: nowrap;
}

.tech-cylinder .type-table>p {
    margin-top: 20px;
}

.tech-cylinder .stroke>section>p:last-of-type {
    margin-top: 15px;
}

.tech-cylinder .buckling>div>section {
    margin: 40px 0;
}

.tech-cylinder .buckling>div>section>:last-child>ul {
    margin: 10px 0 40px;
}

.tech-cylinder .buckling>div>section>:first-child {
    width: 100%;
    margin-bottom: 20px;
}

.tech-cylinder .buckling>div>section>:last-child>section>div {
    margin-bottom: 20px;
}

.tech-cylinder .buckling>div>section>:last-child>section>div>button {
    padding: 5px 12px;
    background-color: #034694;
    color: white;
    margin: 0 0 auto;
}

.tech-cylinder .buckling>div>section>:last-child>section>div:last-of-type>button {
    background-color: #9DCDDF;
}

.tech-cylinder .buckling>div>section>:last-child>section>div>:last-child {
    width: 80%;
}

.tech-cylinder .buckling>div>section>:last-child>section>div>ul li {
    margin-bottom: 8px;
}

.tech-cylinder .support>div>section,
.tech-cylinder .caution>div>section {
    width: 100%;
    margin: 20px 0;
}

.tech-cylinder .support>div>section h4,
.tech-cylinder .caution>div>section h4 {
    margin-bottom: 8px;
}

.tech-cylinder .support>div>section>div,
.tech-cylinder .caution>div>section>div {
    border: 1px solid #ccc;
}

.tech-cylinder .caution>div {
    margin-top: 20px;
}

.tech-cylinder .caution>div>section>div {
    padding: 20px 0;
}

.tech-cylinder .caution>div>section>div img {
    width: 90%;
    margin: auto;
}

.tech-cylinder .speed-piping>:nth-child(2) {
    margin: 20px 0 50px;
}

.tech-cylinder .speed-piping>:nth-child(2)>ul li {
    margin: 8px 0;
}

.tech-cylinder .speed-piping>:last-child>p {
    text-align: center;
    margin-top: 10px;
}

.tech-cylinder .caution2>div {
    margin: 25px 0;
}

.tech-cylinder .caution2 h4 {
    margin-bottom: 8px;
}

.tech-cylinder .caution2>div>section {
    margin: 20px 0;
}

.tech-cylinder .caution2>div>div {
    width: 100%;
}

.tech-cylinder .caution2>div>div>div {
    width: 100%;
    margin: 15px 0;
    border: 1px solid #ccc;
}

.tech-cylinder .caution2>div>div>section {
    width: 100%;
}

.tech-cylinder .caution2>:last-child>div section {
    margin-bottom: 30px;
}

.tech-cylinder .caution2>:last-child>div section>div>div {
    border: 1px solid #ccc;
    width: 48%;
    margin-top: 8px;
}

.tech-unit>div>section {
    margin-bottom: 60px;
}

.tech-unit>div>section>ul {
    margin-top: 15px;
}

.tech-unit>div>section>ul li {
    position: relative;
    padding-left: 15px;
    margin: 10px 0;
}

.tech-unit>div>section>ul li span {
    font-weight: bold;
}

.tech-unit>div>section>ul li::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.tech-unit>div>section>table {
    border: 0px solid #ccc;
}

.tech-unit>div>section>table thead {
    background-color: transparent;
    color: black;
}

.tech-unit>div>section>table thead th {
    font-weight: 300;
    border: 0px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px;
}

.tech-unit>div>section>table tbody td {
    text-align: center;
    border: 0px;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.tech-unit>div>section>div {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tech-unit>div>section>div>div {
    padding: 15px 0;
    display: flex;
    gap: 20px
}

.tech-unit>div>section>div>div:first-of-type {
    border-bottom: 1px solid #ccc;
}

.tech-unit>div>section>div>div>p:first-of-type {
    font-weight: bold;
    width: 30%;
    margin: auto 0;
}

.contact.technology {
    background-image: url('/images/contact_bg2.jpg');
}

.inquire>div>form>div:last-of-type>:nth-child(2) {
    margin-top: 10px;
    padding: 20px 10px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.inquire>div>form>div:last-of-type>:nth-child(2) ul {
    margin: 30px 0;
}

.inquire>div>form>div:last-of-type>:nth-child(2) ul li {
    margin: 5px 0;
}

.inquire>div>form>div:last-of-type>:nth-child(2)>p {
    margin: 10px 0;
}

.inquire>div>form>div:last-of-type>:last-child {
    margin-top: 10px;
    justify-content: left;
    gap: 5px;
}

@media screen and (min-width: 768px) {

    /* main */

    main.home-main>:nth-child(2) h2 {
        font-size: 2.2rem;
    }

    main.home-main>:last-child {
        bottom: -1px;
    }

    main.category-main>div>h2 {
        font-size: 2.5rem;
    }

    /* home */

    .home>div>:first-child>h2 {
        font-size: 2rem;
    }

    .home>div>:first-child>h2 span::after {
        width: 200px;
    }

    .home>div>:last-child section img {
        height: 300px;
        object-fit: cover;
    }

    .home>div>:last-child section>a>:last-child {
        bottom: 30px;
    }

    .home>div>:last-child section>a>:last-child h3 {
        font-size: 1.5rem;
    }

    .home2>div>:first-child>h2 {
        font-size: 2rem;
    }

    .home2>div>:first-child>h2 span::after {
        width: 200px;
    }

    .home2>div>:last-child section {
        padding: 20px;
        height: 250px;
        margin: 15px 0;
    }

    .home2>div>:last-child section h3 {
        font-size: 1.5rem;
    }

    .home2>div>:last-child section>button {
        margin-top: 20px;
        padding: 10px 25px;
        font-size: 1rem;
    }

    .home2>div>:last-child section>:last-child img {
        width: 250px;
    }

    .contact>div>:first-child h2 {
        font-size: 2rem;
    }

    .contact>div>:last-child button {
        padding: 10px 25px;
        font-size: 1rem;
    }

    /* product-list */

    .product-list>section {
        margin-bottom: 50px;
    }

    .product-list>section>a img {
        height: 220px;
    }

    .product-list>section h4 {
        margin-top: 15px;
        padding-top: 15px;
        font-size: 1.2rem;
    }

    /* product-detail */

    .product-detail>div>:nth-child(2)>:last-child,
    .product-detail>div>:nth-child(3)>:last-child {
        width: 800px;
        margin: 0 auto;
    }

    .product-detail>div>:nth-child(2)>div>img,
    .product-detail>div>:nth-child(3)>div>div img {
        height: 500px;
        object-fit: cover;
    }

    .product-detail>div>:nth-child(3)>div>div {
        margin: 30px 0;
    }

    /* commmon-list */

    .common-list>ul>li {
        padding: 15px 0;
        font-size: 1rem;
    }

    .common-list>ul>li:first-of-type {
        padding: 15px 5px;
    }

    .common-list>a>ul li {
        padding: 15px;
        font-size: 1rem;
    }

    .common-list>a>ul li:first-of-type {
        padding: 15px 5px;
    }

    .common-list>ul>li:nth-of-type(2)::before,
    .common-list>a>ul li:nth-of-type(2)::before {
        height: 20px;
    }

    .common-list>ul>li:nth-of-type(2)::after,
    .common-list>a>ul li:nth-of-type(2)::after {
        height: 20px;
    }

    /* cylinder-detail */

    .cylinder-detail>div>:nth-child(2)>div>img {
        height: 450px;
    }

    .cylinder-detail>div>:nth-child(2)>:last-child>ul {
        padding: 30px 0 60px;
    }

    .cylinder-detail>div>:nth-child(2)>div>button {
        margin-top: 50px;
        padding: 20px;
        font-size: 1rem;
    }

    /* performance-detail */

    .performance-detail>div>:nth-child(2) {
        width: 700px;
        margin: 0 auto;
    }

    .performance-detail>div>:nth-child(2) img {
        width: 500px;
    }

    .admin-btn button {
        padding: 15px;
        font-size: 1rem;
    }

    /* board */

    .board>div>:nth-child(3)>button {
        margin-top: 40px;
        padding: 8px 20px;
        font-size: 1rem;
    }

    /* technology */

    .tech-cylinder>div>div>section h3,
    .tech-unit>div>section>h3 {
        font-size: 1.5rem;
    }

    .tech-cylinder>div>div>ul {
        margin-top: 50px;
    }

    .tech-cylinder .process>div {
        margin-top: 50px;
        justify-content: center;
        gap: 20px;
    }

    .tech-cylinder .process>div>section {
        padding: 50px 5px;
    }

    .tech-cylinder .cy-calculator>div>section>div>button {
        padding: 5px 15px;
    }

    .tech-cylinder .cy-calculator>div>section>div>div img {
        width: 255px;
    }

    .tech-cylinder .type-table h5 {
        font-size: 1rem;
    }

    .tech-cylinder .type-table>section>p {
        font-size: 1rem;
    }

    .tech-cylinder .buckling>div>section>:last-child>ul {
        margin: 10px 0 50px;
    }

    .tech-cylinder .buckling>div>section>:first-child {
        width: 100%;
        margin-bottom: 20px;
    }

    .tech-cylinder .buckling>div>section>:last-child>section>div>button {
        padding: 8px 23px;
    }

    .tech-unit>div>section>table thead th {
        padding: 20px;
    }

    .tech-unit>div>section>table tbody td {
        padding: 20px 0;
    }

    .tech-unit>div>section>div>div {
        padding: 20px 0;
    }

    /* inquire */

    .inquire>div>form>div:last-of-type>:nth-child(2) {
        padding: 20px;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2) h5 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1366px) {

    /* main */

    main.home-main>:nth-child(2) h2 {
        font-size: 3rem;
    }

    main.home-main>:last-child {
        bottom: -2px;
    }

    /* home */

    .home>div>:first-child>h2 span::after {
        width: 500px;
    }

    .home>div>:last-child section {
        width: 378px;
    }

    .home>div>:last-child section img {
        height: auto;
    }

    .home>div>:last-child section>a>:last-child {
        bottom: 35px;
    }

    .home>div>:last-child section>a>:last-child h3 {
        margin-top: 8px;
    }

    .home2>div>:first-child>h2 span::after {
        width: 500px;
    }

    .home2>div>:last-child section {
        width: 580px;
        height: 378px;
        margin: 0;
    }

    .home2>div>:last-child section h3 {
        font-size: 1.7rem;
    }

    .home2>div>:last-child section p {
        font-size: 1.5rem;
    }

    .home2>div>:last-child section>:last-child img {
        width: 360px;
    }

    .contact {
        background-position: center;
    }

    .contact>div {
        display: flex;
        justify-content: space-between;
    }

    .contact>div>:first-child {
        margin: auto 0;
    }

    .contact>div>:first-child h2 {
        margin-bottom: 20px;
    }

    .contact>div>:last-child {
        margin: auto 0;
    }

    .contact>div>:last-child button {
        padding: 12px 40px;
        margin: auto 0;
    }

    /* company */

    .about2>div>:last-child img {
        margin: 80px auto 0;
    }

    /* product-list */

    .product-list {
        justify-content: left;
        gap: 0 30px;
    }

    .product-list>section {
        width: 277px;
    }

    .product-list>section>a img {
        height: 250px;
    }

    .product-list>section h4 {
        font-size: 1.1rem;
    }

    .product-list>section p {
        font-size: 1rem;
    }

    /* commmon-list */

    .common-list>ul>li {
        padding: 20px 0;
        font-size: 1.1rem;
    }

    .common-list>ul>li:first-of-type {
        padding: 20px 5px;
    }

    .common-list>a>ul li {
        padding: 20px;
    }

    .common-list>a>ul li:first-of-type {
        padding: 20px 5px;
    }

    /* cylinder-detail */

    .cylinder-detail>div>:nth-child(2)>div {
        width: 500px;
    }

    .cylinder-detail>div>:nth-child(2)>:last-child {
        width: 600px;
        margin: auto 0;
    }

    .cylinder-detail>div>:nth-child(2)>:last-child>ul {
        padding: 20px 0 100px;
    }

    .cylinder-detail>div>:nth-child(2)>div>button {
        margin-top: 40px;
    }

    /* performance-detail */

    .performance-detail>div>div>img {
        width: 800px;
        height: auto;
        margin: 0 auto;
    }

    .admin-btn {
        margin-top: 100px;
    }

    .admin-btn button {
        padding: 15px;
        font-size: 1rem;
    }

    /* board */

    .board>div>:nth-child(3)>button {
        margin-top: 70px;
        padding: 10px 35px;
    }

    /* technology */

    .tech-cylinder>div>div>section h3,
    .tech-unit>div>section>h3 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .tech-cylinder .process>div {
        margin-top: 50px;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 0;
    }

    .tech-cylinder .process>div>section {
        padding: 40px 5px 20px;
    }

    .tech-cylinder .process>div>div {
        margin: auto -10px;
        z-index: 2;
    }

    .tech-cylinder .process>div>div img {
        width: 32px;
        height: 32px;
    }

    .tech-cylinder .cy-calculator>div>section>div>button {
        padding: 5px 15px;
    }

    .tech-cylinder .cy-calculator>div>section>div>div img {
        width: auto;
        margin: 30px 0;
    }

    .tech-cylinder .type-table h3 span {
        font-size: 1.2rem;
        font-weight: 300;
        color: black;
        display: inline-block;
        margin-left: 10px;
    }

    .tech-cylinder .type-table>p {
        margin-top: 8px;
        color: #555;
    }

    .tech-cylinder .buckling>div>section {
        flex-wrap: nowrap;
        margin: 50px 0;
    }

    .tech-cylinder .buckling>div>section>:first-child {
        width: 480px;
        margin: 0;
    }

    .tech-cylinder .buckling>div>section>:last-child {
        width: 640px;
        margin: auto 0;
    }

    .tech-cylinder .buckling>div>section>:last-child h4 {
        font-size: 1.2rem;
    }

    .tech-cylinder .buckling>div>section>:last-child>ul {
        margin: 30px 0 50px;
    }

    .tech-cylinder .buckling>div>section>:last-child>ul li {
        margin: 8px 0;
    }

    .tech-cylinder .buckling>div>section>:last-child>section>div>button {
        padding: 5px 23px;
        font-size: 1rem;
    }

    .tech-cylinder .support>div>section,
    .tech-cylinder .caution>div>section {
        width: 570px;
        margin: 20px 0 30px;
    }

    .tech-cylinder .support>div>section h4,
    .tech-cylinder .caution>div>section h4,
    .tech-cylinder .caution2>div>section h4 {
        margin-bottom: 20px;
        font-size: 1.3rem;
    }

    .tech-cylinder .caution2>div:first-of-type>div>div,
    .tech-cylinder .caution2>div:nth-of-type(2)>div,
    .tech-cylinder .caution2>div:last-of-type>div>section {
        width: 570px;
    }

    .tech-unit>div>section:not(.tech-unit>div>section:last-of-type) {
        margin-bottom: 80px;
    }

    .tech-unit>div>section>table {
        width: 600px;
        margin-top: 20px;
    }

    .tech-unit>div>section>table thead th {
        padding: 20px;
    }

    .tech-unit>div>section>table tbody td {
        padding: 20px 0;
    }

    .tech-unit>div>section ul {
        margin-top: 20px;
    }

    .tech-unit>div>section>div {
        width: 600px;
        margin-top: 20px;
    }

    .tech-unit>div>section>div>div {
        padding: 30px 0;
    }

    /* inquire */

    .inquire>div>form>div:last-of-type>:nth-child(2) {
        padding: 20px;
    }

    .inquire>div>form>div:last-of-type>:nth-child(2) h5 {
        font-size: 1rem;
    }
}