/* specSet layout */

.spec-set>section {
    margin: 50px 0;
}

.spec-set>section>div img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.spec-set>section h3 {
    color: #034694;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.spec-set>section h3::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #034694;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%,-50%);
}

.spec-set>section ul {
    margin-top: 8px;
}

.spec-set>section ul li {
    color: #555;
}

@media screen and (min-width: 768px) { }

@media screen and (min-width: 1366px) { }