/* specSet layout */

.spec-set>section {
    margin: 60px 0;
}

.spec-set>section>div img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.spec-set>section>div>p {
    margin: auto 0;
}

.spec-set>section h3 {
    color: #034694;
    position: relative;
    padding-left: 15px;
    margin-bottom: 10px;
}

.spec-set>section h3::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #034694;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
}

.spec-set>section ul {
    margin-top: 8px;
}

.spec-set>section ul li {
    color: #555;
    margin: 5px 0;
}

.product_img-section.standard>:nth-child(2)>div,
.product_img-section.high-pressure>:nth-child(2)>div {
    width: 100%;
}


.product_img-section.standard>:nth-child(2)>:last-child p,
.product_img-section.high-pressure>:nth-child(2)>:last-child p {
    margin-top: 5px;
}

.product_img-section.recangular>:first-child img {
    width: 100%;
    height: auto;
}

.product_img-section.recangular>div {
    margin-bottom: 40px;
}

.product_img-section.recangular>:first-child>div>p {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.product_img-section.recangular>:first-child>div ul li {
    color: black;
}

.product_img-section.recangular>:first-child>div ul li ul li {
    color: #555;
    margin: 0;
}

.product_img-section.recangular>:first-child>:last-child>section {
    margin: 40px 0;
}

.product_img-section.recangular>div>div>section h4 {
    margin-bottom: 8px;
}

.product_img-section.recangular>div>div>section img {
    width: 100%;
    height: auto;
}

.product_img-section.recangular>div>div>section ul {
    margin-top: 15px;
}

.cushion-section.double>div>div {
    width: 100%;
    max-width: 570px;
}

.cushion-section.double>div>div:not(:last-of-type) {
    margin-bottom: 60px;
}

.cushion-section.double>div>div ul li {
    margin: 8px 0;
    position: relative;
    padding-left: 15px;
    color: black;
}

.cushion-section.double>div>div ul li::before {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: black;
    position: absolute;
    top: 12px;
    left: 0;
    transform: translate(0%, -50%);
}

.cushion-section.double>div>div img {
    width: 100%;
    height: auto;
}

.mounting-section>div>div {
    width: 100%;
    max-width: 570px;
}

.mounting-section>div>div>div img {
    width: 100%;
    height: auto;
}

.line {
    background-color: rgba(3, 71, 148, 1);
    background-image: linear-gradient(to top right, transparent calc(50% - 0.5px), white 50%, transparent calc(50% + 0.5px)) !important;
    position: relative;
    padding: 20px 40px;
}

.line span:first-of-type {
    position: absolute;
    top: 5px;
    right: 5px;
}

.line span:last-of-type {
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.specifications-section thead>tr>th:first-of-type {
    background-color: rgba(3, 71, 148, 1);
}

.specifications-section thead>tr:nth-of-type(2)>th:nth-of-type(2) {
    background-color: rgba(3, 71, 148, 1);
}

.cushion-section thead,
.stroke-section thead {
    background-color: #d5dae0 !important;
    color: #222;
}

.cushion-section thead>tr>th:first-of-type,
.stroke-section thead>tr>th:first-of-type {
    background-color: #b6bbc2 !important;
}

.stroke-section table {
    margin: 5px 0 30px;
}

.cheats-section.double>div>:last-child table thead th:first-of-type {
        font-weight: 400;
    }

.seal-material>thead>tr>th:first-of-type {
    background-color: rgba(3, 71, 148, 1);
    background-image: linear-gradient(to top right, transparent calc(50% - 0.5px), white 50%, transparent calc(50% + 0.5px)) !important;
    position: relative;
}

.seal-material>thead>tr>th:first-of-type span:first-of-type {
    position: absolute;
    top: 5px;
    right: 15px;
}

.seal-material>thead>tr>th:first-of-type span:last-of-type {
    position: absolute;
    bottom: 5px;
    left: 15px;
}

.part-diagram-section>div {
    width: 100%;
    margin-bottom: 20px;
}

.part-diagram>thead>tr>th:first-of-type {
    background-color: rgba(3, 71, 148, 1);
}

.seal-diagram-section table thead {
    border-bottom: 2px solid #034694 !important;
}

.seal-diagram-section thead>tr>th:first-of-type,
.seal-diagram-section tbody>tr>th:first-of-type {
    background-color: rgba(3, 71, 148, 1);
    color: white;
}

.seal-diagram-section thead>tr:nth-of-type(2)>th:not(th:first-of-type),
.seal-diagram-section thead>tr:nth-of-type(4)>th:not(th:first-of-type) {
    background-color: #eeeeee;
    color: #222
}

.seal-diagram-section thead>tr:not(.seal-diagram-section thead>tr:first-of-type) {
    background-color: white;
    color: #222;
}

.seal-diagram-section.high-pressure>thead>tr:first-of-type>th:nth-of-type(2) {
    background-color: rgba(3, 71, 148, 1);
}

.seal-diagram-section.compact>thead>tr:first-of-type>th:nth-of-type(2) {
    background-color: rgba(3, 71, 148, 1);
}

.seal-diagram-section.double>thead>tr>th:first-of-type {
    background-color: rgba(3, 71, 148, 0.3);
}

.seal-diagram-section.double>thead>tr:nth-of-type(2)>td,
.seal-diagram-section.double>thead>tr:nth-of-type(4)>td {
    background-color: #eee;
    color: #222
}

.seal-diagram-section.double tr>:first-child {
    padding: 0 15px;
}

.thread>thead>tr:first-of-type>:first-child {
    background-color: rgba(3, 71, 148, 1);
}

@media screen and (min-width: 768px) {

    .product_img-section.standard>:nth-child(2)>div img,
    .product_img-section.high-pressure>:nth-child(2)>div img {
        width: 70%;
        margin: 0 auto;
    }

    .product_img-section.recangular>:first-child>div>p {
        font-size: 0.9rem;
    }

    .product_img-section.recangular>:first-child>:last-child>section {
        margin: 20px 0;
    }

    .product_img-section.recangular>div>div>section h4 {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 1366px) {

    /* specSet layout */

    .spec-set>section {
        margin: 80px 0;
    }

    .spec-set>section ul li {
        margin: 8px 0;
    }

    .spec-set>section>div img {
        width: 900px;
        margin: 0 auto 40px;
    }

    .spec-set>section h3 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .spec-set .seal-section>div>:first-child {
        margin: auto 0;
    }

    .spec-set .seal-section img {
        width: 500px;
    }

    .spec-set .seal-section .table-wrapper {
        width: 600px;
    }

    .spec-set .part-diagram-section>div>div {
        width: 570px;
    }

    .spec-set .part-diagram-section>div>div>table {
        width: 100%;
    }

    .product_img-section.standard>:nth-child(2),
    .product_img-section.high-pressure>:nth-child(2) {
        margin-bottom: 80px;
    }

    .product_img-section.standard>:nth-child(2)>:first-child,
    .product_img-section.high-pressure>:nth-child(2)>:first-child {
        width: 550px;
    }

    .product_img-section.standard>:nth-child(2)>:last-child,
    .product_img-section.high-pressure>:nth-child(2)>:last-child {
        width: 550px;
        margin: auto 0;
    }

    .product_img-section.standard>:nth-child(2)>div img,
    .product_img-section.high-pressure>:nth-child(2)>div img {
        width: 100%;
    }

    .product_img-section.standard>:nth-child(2)>:last-child p,
    .product_img-section.high-pressure>:nth-child(2)>:last-child p {
        margin-top: 5px;
    }

    .product_img-section.recangular>div>:first-child,
    .product_img-section.recangular>div>:last-child {
        width: 48%;
    }

    .product_img-section.recangular>div>:first-child {
        width: 500px;
    }

    .product_img-section.recangular>div>:first-child img {
        width: 400px;
    }

    .product_img-section.recangular>div>:last-child {
        width: 600px;
    }

    .product_img-section.recangular>:first-child>div>p {
        font-size: 0.9rem;
    }

    .product_img-section.recangular>:first-child>:last-child>section {
        margin: 20px 0;
    }

    .product_img-section.recangular>div>div>section h4 {
        font-size: 1.1rem;
    }

    .intro-section h4 {
        font-size: 1.3rem;
    }

    .cheats-section img {
        margin: 0 0 40px !important;
    }

    .cheats-section.double>div {
        display: flex;
        justify-content: space-between;
    }

    .cheats-section.double>div>:first-child {
        width: 550px;
        margin: 20px 0 auto;
    }

    .cheats-section.double>div>:first-child img {
        width: 550px;
    }

    .cheats-section.double>div>:last-child {
        width: 550px;
    }
}